# TMDb API Key - https://www.themoviedb.org/settings/api
VITE_TMDB_API_KEY=your_tmdb_api_key_here

# OMDB API Key - http://www.omdbapi.com/apikey.aspx
VITE_OMDB_API_KEY=your_omdb_api_key_here

# WatchMode API Key - https://api.watchmode.com/
VITE_WATCHMODE_API_KEY=your_watchmode_api_key_here

# Supabase - https://supabase.com/dashboard/project/_/settings/api
VITE_SUPABASE_URL=your_supabase_project_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
